name: Testowanie Matrix

on:
  push:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy: 
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.9, 3.12, 3.14] 

    steps:
      - uses: actions/checkout@v6.0.1

      - name: Instalacja Pythona w wersji ${{ matrix.python-version }} na systemie ${{ matrix.os }}
        uses: actions/setup-python@v6.1.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Pokaż informacje o środowisku
        run: |
          uname -a
          python --version
